<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MideaCS" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=DMS_MIDEA_LIBRARY;Integrated Security=True;" />
    <add name="PlatformCS" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=DMS_ZHYW_STANDARD;Integrated Security=True;" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>


    <add key="WeixinToken" value="twb0223"/>
    <add key="WeixinEncodingAESKey" value="MWr2o7mjLq7Lbq3E0pHLlPai37FIUMtX5au2CJKiIp8"/>

    <add key="WeixinAppId" value="wx2e7e2055680c7a53"/>
    <add key="WeixinAppSecret" value="d75d925218e6c00b35b34a6e6c6a0fa6"/>

    <!--<add key="WeixinAgentUrl" value="外部代理Url"/>
    <add key="WeixinAgentToken" value="外部代理Token"/>
    <add key="WeixinAgentWeiweihiKey" value="外部代理SouideaKey"/>

    <add key="WeixinPay_Tenpay" value="WeixinPay_Tenpay"/>
    <add key="WeixinPay_PartnerId" value="WeixinPay_PartnerId"/>
    <add key="WeixinPay_Key" value="WeixinPay_Key"/>
    <add key="WeixinPay_AppId" value="WeixinPay_AppId"/>
    <add key="WeixinPay_AppKey" value="WeixinPay_AppKey"/>
    <add key="WeixinPay_TenpayNotify" value="WeixinPay_TenpayNotify"/>

    <add key="TenPayV3_MchId" value="TenPayV3_MchId"/>
    <add key="TenPayV3_Key" value="TenPayV3_Key"/>
    <add key="TenPayV3_AppId" value="TenPayV3_AppId"/>
    <add key="TenPayV3_AppSecret" value="TenPayV3_AppSecret"/>
    <add key="TenPayV3_TenpayNotify" value="TenPayV3_TenpayNotify"/>-->

    <!--上传图片保存地址-->
    <add key="ImgPath" value="D:\\临时文件\\Tanwenbin\\WeChat\\UploadImg\\"/>
    <!--超时时间-->
    <add key="ExpireMinutes" value="3"/>

    <!--微信URL(服务器地址)-->
    <add key="WechatURL" value="http://182.254.159.149"/>
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            通过 <authentication> 节，可配置 
      ASP.NET 用于识别进入用户的 
      安全身份验证模式。
    -->
    <authentication mode="Windows"/>
    <!--
            通过 <customErrors> 节，可以配置
       在执行请求的过程中出现未处理的错误时要执行 
       的操作。具体而言，
       开发人员通过该节可配置要显示的 html 错误页，
       以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>